<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_KEY" value="***REMOVED-TEST-APP-KEY***="/>
        <env name="JWT_SECRET" value="test-jwt-secret-do-not-use-in-prod"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="pgsql" force="true"/>
        <env name="DB_HOST" value="127.0.0.1" force="true"/>
        <env name="DB_PORT" value="5432" force="true"/>
        <env name="DB_DATABASE" value="server_monitoring_test" force="true"/>
        <env name="DB_USERNAME" value="postgres" force="true"/>
        <env name="DB_PASSWORD" value="00000000" force="true"/>
        <env name="DB_URL" value=""/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        <env name="NGROK_SKIP_BROWSER_WARNING" value="false" force="true"/>
        <server name="NGROK_SKIP_BROWSER_WARNING" value="false" force="true"/>
        <env name="CLOUDINARY_CLOUD_NAME" value="dwpiboxib"/>
        <env name="CLOUDINARY_API_KEY" value="***REMOVED-CLOUDINARY-API-KEY***"/>
        <env name="CLOUDINARY_API_SECRET" value="***REMOVED-CLOUDINARY-API-SECRET***"/>
    </php>
</phpunit>
